// 色の変数
$primary-color: #333;
$secondary-color: #505050;
$secondary-bg-color: #0000000d;
$accent-color: #e5a920;

// フォントサイズの変数
// フォントサイズ
$font-size-xsmall: 1.5rem; // 15px
$font-size-base: 1.8rem; // 18px
$font-size-small: 2rem; // 20px
$font-size-medium-small: 2.2rem; // 22px
$font-size-medium: 3rem; // 30px
$font-size-large: 4rem; // 40px
