---
import Hero from './Hero.astro';
---
<header class="header">
    <div class="header__top">
        <a href="/" class="header__logo">THE LITTLE CAFE</a>
        <nav class="header__nav">
            <a href="#menu" class="header__nav-link">MENU</a>
            <a href="#about" class="header__nav-link">ABOUT</a>
        </nav>
    </div>
    <Hero />
</header>