---
import { Image } from 'astro:assets';
const { image, title, description } = Astro.props;
---
<div class="menu-card">
    <div class="menu-card__image-wrapper">
        <Image src={image} alt={title} class="menu-card__image" width={300} height={250}/>
    </div>
    <div class="menu-card__content">
        <h3 class="menu-card__title">{title}</h3>
        <p class="menu-card__description" set:html={description}></p>
    </div>
</div>